body {
  color: #333;
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 1.45
}

a {
  text-decoration: none;
}
#main-content {
}
.header {
  width: 100%;
  z-index: 1000;
}
.navbar.navbar-default {
  background-color: #3F51B5;
  border: none;
  border-radius: 0;
}
.header .navbar .navbar-brand, 
.header .navbar ul > li > a {
  color: #fefefe;
}
.header .navbar ul > li > a:hover {
  color: #cfcfcf;
}
.btn-primary {
  background-color: #5E6FC7;
  margin-bottom: 6px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:hover:active {
  background-color: #3F52B5;
}
.header .btn-primary {
  background-color: #F98B13;
  border-radius: 2px;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,0.4);
}
.header .btn-primary:active,
.header .btn-primary:hover:active,
.header .btn-primary:focus {
  background-color: #C06605;
  border: none;
}

.panel-default .panel-heading {
  background-color: #FFB564;
  color: #fefefe;
}
.book-result {
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,0.5);
  overflow: hidden;
  background-color: white;
  margin: 15px 0;
}
.book-result:hover {
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.5);
}
.book-result .result-title {
  margin: 0;
}
.book-result .result-title a {
  padding: 10px;
  display: block;
  color: #333;
  font-size: 20px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 60px;
  text-align: center;
  box-sizing: content-box;
}
.book-result .result-title a:hover {
  text-decoration: none;
}

.popover {
  max-width: 500px;
}

.title {
  text-align: center;
}

.author {
  text-align: center;
}

.chapter_title {
  list-style: none;
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  margin: 30px 0 40px;
  padding: 0;
}

.chapter_title li a {
  padding: 10px 0;
  display: block;
}

.chapter {
  padding: 0 15px;
  overflow: hidden;
}

.chapter .chapter-title {
  color: #222;
  clear: both;
  text-transform: capitalize;
  text-decoration: underline;
}

.chapter .chapter-title:hover {
  color: #337ab7;
}

.chapter .chapter-body {
  text-align: justify;
  font-size: 16px;
  line-height: 1.55
}

.annotation {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(0, 37, 216);
}

.ann-figure {
  float: left;
  clear: left;
  margin: 1em 1em 0em 0;
}

.ann-figure:nth-of-type(2) {
  float: right;
  clear: right;
  margin: 1em 0 0em 1em;
}
.ann-figure figcaption {
  text-align: center;
}
.ann-img {
  max-width: 15em;
}

.top-link {
  position: fixed;
  bottom: 30px;
  right: 150px;
}
.btn-round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px 0;
  text-align: center;
  color: #fefefe;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
}
.btn-round:hover {
  color: #eee;
}
.btn-primary.btn-round {
  background-color: rgba(63, 81, 181, 0.89);
}
@media (min-width: 1200px){
  .container {
    width: 970px;
  }
}
